
.final{
	display: flex;
	flex-direction: row;
	margin-left: 20%;

}
.large{
	margin-right: 7%;
	margin-top: 4%;

}
.login{
	border: solid 2px #eee;
	width: 50%;
	margin-top: 6%;
	text-align: center;
}
.login>a{
	display: block;
}
.Signup{
	border: solid 2px #eee;
	text-align: center;
	width: 50%;
	margin-top: 1%;
}
input{
	width: 70%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #fafafa;
	border: solid #eee 1px;
	padding-left: 2%;
	border-radius: 4px;
}
.ip1{
	margin-bottom: 2%;
}
.ip2{
	margin-bottom: 5%;
}
.btn1{
	background-color: #3eb6f7;
	border: none;
	font-weight: 600;
	color: white;
	width: 70%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 6px;
}
h4{
	font-weight: 500;
}
span{
	margin-left: 1%;
	margin-right: 1%;
}
hr{
	width: 30%;
	display: inline-block;
	margin: 1% 1%;
}

.a1{
	text-decoration: none;
	color: #385185;
	font-weight: 600;
	font-family: 'Roboto';
	margin-bottom: 6%;
}
.a2{
	text-decoration: none;
	color: #1d1d29;
	font-weight: 550;
	font-family: 'Roboto';
	margin-bottom: 5%;
}
.sign{
	color: #3eb6f7;
	text-decoration: none;
	font-weight: 900;
	font-family: 'Roboto';
}
p{
	text-align: center;
	font-family: 'Roboto';
}
.main{
	display: flex;
	justify-content: center;
}
a{
	color: grey;
	text-decoration: none;
	margin-right: 1.5%;
	font-family: 'Roboto';
	font-size: 0.9rem;
}
.neon:hover{
	text-decoration: underline;
}
.img1{
	text-align: center;
	margin: 8% 0%;
}
.app-store{
	width: 50%;
	text-align: center;
}
img{
	margin-bottom: 10%;
}


